<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<h1 class="bogFont">Welcome to Soggy Bog</h1>
<h2 class="bogFont">for all your creature capturing needs</h2>


<%= link_to "I found a creature!", new_creature_path, class: 'btn btn-default' %>